# default build directories
bin/**
build_*/**
install_*/**

# editor files
.vscode/**

# files extensions to exclude
*.i90

# folders to exclude
/src/**/obj/**

/src/utils_lgpl/version/ec_version_number.ini
/src/utils_lgpl/ec_module/packages/ec_module/include/ec_version_number.ini
/src/utils_lgpl/ec_module/packages/ec_module/include/ec_version_number.rc
/src/utils_lgpl/ec_module/packages/ec_module/include/RCa01108
